@import "tailwindcss";
body {
  font-family: "Roboto Mono", monospace;
}
@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s step-start infinite;
}
* {
  box-sizing: border-box;
}
